/*Header*/
header{
    box-shadow: 0px 10px 10px -2px gray;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 1px;
}
body{
    margin: 0px;
}
#descuentos{
    background-color: #1CD1B0;
    height: 30px;
    padding: 7px 1px;
}
#titulo{
    background-color: #00669F;
    padding: 5px 5px 5px 5px;
}
/*Contenedor cards*/
.cards{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin: 30px;
}
/*Cards*/
.heroes{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px 30px 0px 0px;
    background-color:#F3F3F3;
    height: 40rem;
    width: 390px;
    box-shadow: 0px 10px 10px -2px gray;
}
/*Contenido cards*/
.Contenido p{
    font-size: 16px;
    text-align: left;
    position: relative;
    bottom: 12rem;
    margin: 3rem 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Contenido h3{
    position: relative;
    bottom: 10rem;
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.imagen{
    position: relative;
    border-radius: 50%;
    bottom: 8.5rem;
    height: 8rem;
    box-shadow: 0px 10px 10px -2px gray;
    margin: 0px;
}
.fondo{
    border-radius: 10% 10% 0% 0%;
    height: 300px;
    width: 390px;
}
.heart{
    position: relative;
    bottom: 15rem;
    right: 9rem;
    width: 40px;
    height: 40px;
}
.boton{
    position: absolute;
    bottom: 2rem;
    padding: 0.5rem 8rem;
}
.Contenido button{
    background-color:#00669F;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    border-radius: 4%;
}
/*Boton mas*/
#boton-mas{
    display: none;
}
#boton-mas img{
    height: 4rem;
}
/*Footer*/
footer{
    background-color: #00669F;
    height: 30px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 2rem;
    text-align: center;
    align-self: center;
}
/*Media*/
@media (max-width:480px){
    .cards{
        display: flex;
        flex-direction:column;
    }
    .heroes{
        margin: 2rem;
        align-self: center;
    }
    #boton-mas{
        display: inline-block;
        position: sticky;
        bottom: 4rem;
        left: 25rem;
    }
}
@media (max-width: 1000px){
    .cards{
        flex-wrap: wrap;
    }
    .heroes{
        display: flex;
        justify-content: space-between;
        margin: 20px;
    }
    .boton{
        position: absolute;
        bottom: 3rem; 
    }
    #boton-mas{
        display: inline-block;
        position: sticky;
        bottom: 1rem;
        left: 55rem;
    }
}